.terraform/
*.tfstate
*.tfstate.*

## Day 8 veriables loops vpc

# ansible install packges using variables

- name insatll packge for pathnex using veriables
hosts:all
become:yes

vars:
pathnex_packages:
- tree
- unzip
- vim


tasks:
- name :install required packages
yum:
name:   {{ pathnex_packages }}"
state: present


## Terraform - Create VPC+subnet

provider "aws" {
    region ="us-east-1"
}

resources "aws_vpc" "pathnexVPC" {
    cidr_block="10.10.10.0.0/16"
    tags={
Name="Pathnex-VPC"
    }
}


resources ="aws_subnet" "pathnex_subnet"{
    vpc_id = aws_vpc.pathnexVPC.id
    cidr_block = "10.10.1.0/24"
    map_public_ip_on_lunch=true
    tags={
        Name="Pathnex-subnet"
    }
}



# K8s - add liveness & readiness probes

apiVersion: app/v1
kind: pod
metadata:
name: pathnex-probe-pod
spec:
containers:
- name: web
image: nginix
livenessProbe:
httpGet:
path: /
port:80
innitialDelaySeconds:5
readinessProbe:
httpGet:
path:/
port:80
initialDelaysSeconds:3


## Shell Script - loop through list

#!/bin/bash

for item in pathnex Devops training; do
echo "item : $item"
done

# conditional Stages

## Jenkins pipiline - Conditional Execution

we will learn to run stages based on branch or parameter conditions

pipeline{

    agent any
    paameters {
        string(name:'ENVIRONMENT', defaultValue: 'dev',description: "Deployment Environment')
    }
    environment {
        INSTITUTE_NAME="Pathnex"

    }
    stages {
        stage ('Checkout'){
            stesps {
                git branch'main', url: 'https://github.com/Pathnex/sample-java-app.git'

            }
        }
        stage ('Build'){
            when {
                branch 'main'
            }
            steps{
                sh 'mvn clean compile'
            }
        }
        stage ('Deploy'){
            when {
                expression {params.ENVIRONMENT == 'dev'}
            }
            steps {
                sh ''echo "Deploying to $ENVIRONMENT By $INSTITUTE_NAME"'
            }
        }
    }
}

## Gitlab  CI - Conditional Jobs
we will learn to run jobs based on the veriables or branches

stages:
- build
- deploy

build:
stage:build
image: maven:3.8.1-jdk-17
script:
- git clone https://github.com/Pathnex/sample-java-app.git
- cd sample-java-app
- mvn clean compile
only:
- main

deploy:
stage:deploy
image: alpine:latest
script:
- echo "Deploying to $CI_ENVIRONMENT_NAME by pathnex"
only:
variables:
- $CI_ENVIRONMENT_NAME == "Dev"